pydantic==2.7.4
python-dotenv==1.0.1
pandas==2.2.2
numpy==1.26.4
websockets==12.0
binance-connector==3.6.0
aiohttp==3.9.5
joblib==1.4.2
scikit-learn==1.5.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
binance-connector==3.6.0
websockets==12.0
aiohttp==3.9.5
pydantic==2.7.4
python-dotenv==1.0.1
joblib==1.4.2
